/* ======== GENERAL ================================== */
.bubble:after {
    content: "";
    border-width: 25px 15px 0;
    border-style: solid;
    border-color: var(--blue-300) transparent;
    position: absolute;
    top: 100%;
    right: 25px;
}

.button {
    user-select: none;
    height: min-content;
    width: min-content;
    white-space: nowrap;
    transition: 0.3s;
}

.button.bg-white:hover { background-color: var(--gray-100); }
.button.bg-blue-300:hover { background-color: var(--blue-200); }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { .main-container { margin: 0 10%; } }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { .main-container { margin: 0 15%; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { .main-container { margin: 0 20%; } }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { .main-container { margin: 0 25%; } }

/* ======== NAV ====================================== */
.menu {
    user-select: none;
    right: 0;
    padding-right: 5%;
}

.nav { z-index: 99; }

/* ======== POLL ===================================== */
.option-text { width: 150px; }
.percent { white-space: nowrap; }

input:focus { outline-color: var(--blue-100); }

.poll {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.poll:checked + label { background: var(--blue-100); }
::selection { background: var(--blue-100) }