@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './colors.css';

.logo {
    font-family: 'Capriola', sans-serif;
    color: var(--blue-300);
}

.menu {
    font-family: 'Capriola', sans-serif;
    color: var(--black);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo {
        font-size: 22px;
        line-height: 33px;
    }

    .menu {
        font-size: 12px;
        line-height: 18px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo {
        font-size: 24px;
        line-height: 36px;
    }

    .menu {
        font-size: 12px;
        line-height: 18px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo {
        font-size: 26px;
        line-height: 39px;
    }

    .menu {
        font-size: 14px;
        line-height: 21px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo {
        font-size: 28px;
        line-height: 42px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .logo {
        font-size: 30px;
        line-height: 45px;
    }

    .menu {
        font-size: 16px;
        line-height: 24px;
    }
}