@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

label, .button-large, .button-small, .error, .hint, .menu, .percent, .option-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.logo { font-family: 'Capriola', sans-serif; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px;
        line-height: 28px;
    }

    .logo {
        font-size: 22px;
        line-height: 33px;
    }

    label, .button-large, .option-text {
        font-size: 10px;
        line-height: 15px;
    }

    .button-small, .error, .hint, .menu, .percent  {
        font-size: 8px;
        line-height: 12px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 14px;
        line-height: 28px;
    }

    .logo {
        font-size: 22px;
        line-height: 33px;
    }

    label, .button-large, .option-text {
        font-size: 10px;
        line-height: 15px;
    }

    .button-small, .error, .hint, .menu, .percent  {
        font-size: 8px;
        line-height: 12px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 16px;
        line-height: 32px;
    }

    .logo {
        font-size: 24px;
        line-height: 36px;
    }

    label, .button-large, .option-text {
        font-size: 12px;
        line-height: 18px;
    }

    .button-small, .error, .hint, .menu, .percent  {
        font-size: 10px;
        line-height: 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 18px;
        line-height: 36px;
    }

    .logo {
        font-size: 26px;
        line-height: 39px;
    }

    label, .button-large, .option-text {
        font-size: 14px;
        line-height: 21px;
    }

    .button-small, .error, .hint, .menu, .percent  {
        font-size: 12px;
        line-height: 18px;
    }
}